header {
  text-align: center;
  background: black;
  color: white;
  padding: 1em;
}

main {
  padding: 2em;
}

.bot-selector-page button {
  margin-left: 1em;
  margin-bottom: 0.3em;
}

img {
  width: 200px;
  border: 1px solid black;
}

.card-view {
  display: flex;
}

.next-round-btn {
  font-size: 2em;
  font-weight: 900;
  border-radius: 7%;
  padding: 0.5em;
  text-align: center;
  position: absolute;
  margin-top: 1em;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

figcaption {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1em;
}

.color-1 {
  bg-color: white;
}
.color-2 {
  bg-color: black;
  font-color: white;
}
.color-3 {
  bg-color: green;
}
.color-4 {
  bg-color: blue;
}
.color-5 {
  bg-color: pink;
}
.color-6 {
  bg-color: red;
}
